<h1>Beaches#index</h1>
<p>Find me in app/views/beaches/index.html.erb</p>
<% @beaches.each do |b| %>
  Beach: 
  <%= b['beach_name'] %><br/>
  Water Temperature: 
  <%= b['water_temperature'] %><br/>
  Measurement Timestamp:
  <%= b['measurement_timestamp'] %>
<% end %>

