<h1>Beaches#index</h1>
<p>Find me in app/views/beaches/index.html.erb</p>
<% @beaches.each do |b| %>
  <h3><%= b.beach_name %></h3>
  Water Temperature: 
  <%= b.fahrenheit_water_temperature %><br/>
  Measurement Timestamp:
  <%= distance_of_time_in_words b.measurement_timestamp, Time.now %><br/>
<% end %>

